<div class="header">
        <header class="header--item">
           <div class="logo">
               <a href="/" class="">


                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                width="121" height="33" viewBox="0 0 980 980" enable-background="new 0 0 980 980" xml:space="preserve">
             <path fill="#FFFFFF" opacity="1.000000" stroke="none" 
               d="
             M981.000000,239.000000 
               C981.000000,486.264008 981.000000,733.528015 981.000000,981.000000 
               C733.638672,981.000000 486.277283,981.000000 238.646667,980.620972 
               C240.369217,980.117676 242.370270,980.077026 244.351334,979.856567 
               C294.789490,974.245117 339.039825,954.715515 375.186401,918.991089 
               C444.000610,850.980408 512.183655,782.331055 580.614807,713.932922 
               C581.167603,713.380371 581.527100,712.634521 582.273193,711.946167 
               C582.541443,711.692078 582.513306,711.470703 582.485229,711.249390 
               C582.345276,711.274170 582.089172,711.285400 582.084412,711.326111 
               C582.055847,711.569275 582.085327,711.819153 581.762634,711.825562 
               C580.798889,711.800659 580.155334,711.986145 579.538635,712.237671 
               C533.025757,731.209290 486.809204,730.299561 440.989014,709.929199 
               C437.514343,708.384583 435.763763,709.270874 433.403046,711.638184 
               C390.568512,754.591675 347.736206,797.548035 304.737457,840.337036 
               C275.777832,869.155334 240.759628,880.979675 200.689789,873.176758 
               C155.764877,864.428406 125.232422,837.279297 111.940300,793.489197 
               C98.764656,750.082703 108.841667,710.823303 140.803711,678.543152 
               C214.087341,604.530212 287.740753,530.879578 361.681335,457.522675 
               C393.502716,425.952484 431.983948,416.605621 475.239502,428.068390 
               C496.716827,433.759918 514.142151,446.256775 529.640564,461.962646 
               C535.729553,468.133057 542.530334,474.266876 550.167053,478.115204 
               C570.476929,488.349884 594.194336,483.774231 610.001221,467.951874 
               C625.825867,452.111755 629.814758,428.653839 620.483887,407.962769 
               C616.156555,398.367035 608.380493,391.752167 601.199036,384.639648 
               C548.382324,332.329926 484.820984,310.742249 411.330811,320.455078 
               C362.641571,326.890076 320.908875,348.629913 286.117035,383.404236 
               C212.801254,456.683075 139.482056,529.958557 66.234497,603.305603 
               C33.557922,636.026489 12.904157,675.139771 4.628197,720.699585 
               C3.341032,727.785583 2.205604,734.899170 1.000002,742.000000 
               C1.000000,495.069366 1.000000,248.138718 1.000000,1.000000 
               C247.694656,1.000000 494.389374,1.000000 741.375977,1.382308 
               C737.195374,2.260561 732.697144,2.590295 728.254395,3.277968 
               C679.519653,10.821275 637.613281,31.871601 602.708801,66.792252 
               C536.139771,133.392090 469.541931,199.963089 402.963440,266.553406 
               C402.010010,267.507019 401.151611,268.555634 399.326813,270.585632 
               C401.763947,269.804138 402.848358,269.522064 403.883636,269.114960 
               C450.038757,250.965057 495.814697,251.872162 541.113586,272.056183 
               C544.527771,273.577454 546.296326,272.821594 548.716675,270.398621 
               C592.531738,226.535446 636.137085,182.455917 680.439392,139.088852 
               C707.808350,112.297638 741.430969,102.318344 779.104248,108.272125 
               C864.195374,121.719696 904.508606,223.545883 851.728455,291.606201 
               C843.605591,302.080719 833.763245,311.268921 824.356873,320.693390 
               C756.776794,388.403229 689.156799,456.073578 621.440308,523.646912 
               C581.473511,563.529236 522.941345,570.315735 476.611786,539.792053 
               C465.471252,532.452271 456.342102,522.110413 445.958832,513.548279 
               C440.911499,509.386230 435.502716,505.231293 429.571472,502.648987 
               C406.840576,492.752594 380.107117,500.956146 365.954498,521.536438 
               C351.996124,541.834167 353.918640,569.761597 370.861359,587.338440 
               C378.830322,595.605591 386.957275,603.821106 395.753632,611.173462 
               C446.561981,653.640869 505.135315,670.446106 570.573364,661.581909 
               C619.280884,654.984009 661.033508,633.415161 695.831177,598.653870 
               C769.289124,525.272705 842.743530,451.887634 916.072144,378.377228 
               C948.598450,345.770233 969.110840,306.725098 977.331665,261.334015 
               C978.676025,253.911346 979.783203,246.445755 981.000000,239.000000 
             z"/>
             <path fill="#010101" opacity="1.000000" stroke="none" 
               d="
             M1.000002,742.468628 
               C2.205604,734.899170 3.341032,727.785583 4.628197,720.699585 
               C12.904157,675.139771 33.557922,636.026489 66.234497,603.305603 
               C139.482056,529.958557 212.801254,456.683075 286.117035,383.404236 
               C320.908875,348.629913 362.641571,326.890076 411.330811,320.455078 
               C484.820984,310.742249 548.382324,332.329926 601.199036,384.639648 
               C608.380493,391.752167 616.156555,398.367035 620.483887,407.962769 
               C629.814758,428.653839 625.825867,452.111755 610.001221,467.951874 
               C594.194336,483.774231 570.476929,488.349884 550.167053,478.115204 
               C542.530334,474.266876 535.729553,468.133057 529.640564,461.962646 
               C514.142151,446.256775 496.716827,433.759918 475.239502,428.068390 
               C431.983948,416.605621 393.502716,425.952484 361.681335,457.522675 
               C287.740753,530.879578 214.087341,604.530212 140.803711,678.543152 
               C108.841667,710.823303 98.764656,750.082703 111.940300,793.489197 
               C125.232422,837.279297 155.764877,864.428406 200.689789,873.176758 
               C240.759628,880.979675 275.777832,869.155334 304.737457,840.337036 
               C347.736206,797.548035 390.568512,754.591675 433.403046,711.638184 
               C435.763763,709.270874 437.514343,708.384583 440.989014,709.929199 
               C486.809204,730.299561 533.025757,731.209290 579.538635,712.237671 
               C580.155334,711.986145 580.798889,711.800659 581.731934,711.805176 
               C582.033875,712.025940 581.976868,711.978943 581.976868,711.978943 
               C581.527100,712.634521 581.167603,713.380371 580.614807,713.932922 
               C512.183655,782.331055 444.000610,850.980408 375.186401,918.991089 
               C339.039825,954.715515 294.789490,974.245117 244.351334,979.856567 
               C242.370270,980.077026 240.369217,980.117676 238.188721,980.620972 
               C226.979111,981.000000 215.958206,981.000000 204.286011,980.627747 
               C170.901932,977.242188 139.952530,968.249146 111.635216,951.434021 
               C53.792431,917.086182 18.033533,866.880371 4.895551,800.776978 
               C3.394583,793.224915 2.288943,785.594238 1.000000,778.000000 
               C1.000000,766.312439 1.000000,754.624878 1.000002,742.468628 
             z"/>
             <path fill="#010101" opacity="1.000000" stroke="none" 
               d="
             M981.000000,238.531342 
               C979.783203,246.445755 978.676025,253.911346 977.331665,261.334015 
               C969.110840,306.725098 948.598450,345.770233 916.072144,378.377228 
               C842.743530,451.887634 769.289124,525.272705 695.831177,598.653870 
               C661.033508,633.415161 619.280884,654.984009 570.573364,661.581909 
               C505.135315,670.446106 446.561981,653.640869 395.753632,611.173462 
               C386.957275,603.821106 378.830322,595.605591 370.861359,587.338440 
               C353.918640,569.761597 351.996124,541.834167 365.954498,521.536438 
               C380.107117,500.956146 406.840576,492.752594 429.571472,502.648987 
               C435.502716,505.231293 440.911499,509.386230 445.958832,513.548279 
               C456.342102,522.110413 465.471252,532.452271 476.611786,539.792053 
               C522.941345,570.315735 581.473511,563.529236 621.440308,523.646912 
               C689.156799,456.073578 756.776794,388.403229 824.356873,320.693390 
               C833.763245,311.268921 843.605591,302.080719 851.728455,291.606201 
               C904.508606,223.545883 864.195374,121.719696 779.104248,108.272125 
               C741.430969,102.318344 707.808350,112.297638 680.439392,139.088852 
               C636.137085,182.455917 592.531738,226.535446 548.716675,270.398621 
               C546.296326,272.821594 544.527771,273.577454 541.113586,272.056183 
               C495.814697,251.872162 450.038757,250.965057 403.883636,269.114960 
               C402.848358,269.522064 401.763947,269.804138 399.326813,270.585632 
               C401.151611,268.555634 402.010010,267.507019 402.963440,266.553406 
               C469.541931,199.963089 536.139771,133.392090 602.708801,66.792252 
               C637.613281,31.871601 679.519653,10.821275 728.254395,3.277968 
               C732.697144,2.590295 737.195374,2.260561 741.833923,1.382308 
               C753.020874,1.000000 764.041809,1.000000 775.726074,1.375133 
               C801.677185,3.473608 826.060181,9.149800 849.053589,19.797092 
               C918.957886,52.166862 961.766663,106.165146 977.161072,181.721207 
               C978.730103,189.421860 979.733948,197.237640 981.000000,205.000000 
               C981.000000,216.020889 981.000000,227.041794 981.000000,238.531342 
             z"/>
             <path fill="#FEFEFE" opacity="1.000000" stroke="none" 
               d="
             M981.000000,204.531342 
               C979.733948,197.237640 978.730103,189.421860 977.161072,181.721207 
               C961.766663,106.165146 918.957886,52.166862 849.053589,19.797092 
               C826.060181,9.149800 801.677185,3.473608 776.194702,1.375133 
               C844.260193,1.000000 912.520325,1.000000 981.000000,1.000000 
               C981.000000,68.687401 981.000000,136.375046 981.000000,204.531342 
             z"/>
             <path fill="#FEFEFE" opacity="1.000000" stroke="none" 
               d="
             M1.000000,778.468628 
               C2.288943,785.594238 3.394583,793.224915 4.895551,800.776978 
               C18.033533,866.880371 53.792431,917.086182 111.635216,951.434021 
               C139.952530,968.249146 170.901932,977.242188 203.817352,980.627747 
               C136.406311,981.000000 68.812622,981.000000 1.000000,981.000000 
               C1.000000,913.645935 1.000000,846.291626 1.000000,778.468628 
             z"/>
             <path fill="#010101" opacity="1.000000" stroke="none" 
               d="
             M582.064575,712.046387 
               C582.085327,711.819153 582.055847,711.569275 582.084412,711.326111 
               C582.089172,711.285400 582.345276,711.274170 582.485229,711.249390 
               C582.513306,711.470703 582.541443,711.692078 582.273193,711.946167 
               C581.976868,711.978943 582.033875,712.025940 582.064575,712.046387 
             z"/>
             </svg>              

<!-- <svg xmlns="http://www.w3.org/2000/svg" width="121" height="33"><path fill="#34313D" d="M16.715 7.932c-.068-.09-.306-.26-.714-.51s-.918-.51-1.53-.782-1.281-.51-2.006-.714a8.005 8.005 0 00-2.176-.306c-1.995 0-2.992.669-2.992 2.006 0 .408.107.748.323 1.02.215.272.532.516.952.731.419.215.946.414 1.58.595l1.406.393.805.219c1.156.317 2.198.663 3.128 1.037.929.374 1.717.839 2.363 1.394a5.647 5.647 0 011.496 2.023c.35.793.527 1.745.527 2.856 0 1.36-.255 2.51-.765 3.451-.51.94-1.185 1.7-2.023 2.278-.84.578-1.802.997-2.89 1.258-1.088.26-2.21.391-3.366.391a19.68 19.68 0 01-5.44-.799c-.884-.26-1.74-.572-2.567-.935A14.358 14.358 0 01.53 22.28l2.448-4.862c.09.113.385.329.884.646.498.317 1.116.635 1.853.952.736.317 1.558.6 2.465.85.906.25 1.824.374 2.754.374 1.972 0 2.958-.6 2.958-1.802 0-.453-.148-.827-.442-1.122-.295-.295-.703-.561-1.224-.799a12.455 12.455 0 00-1.504-.56l-1.702-.495-.976-.288c-1.111-.34-2.074-.708-2.89-1.105-.816-.397-1.49-.856-2.023-1.377a5.003 5.003 0 01-1.19-1.802c-.261-.68-.391-1.473-.391-2.38 0-1.27.238-2.391.714-3.366a7.266 7.266 0 011.938-2.465 8.435 8.435 0 012.839-1.513c1.076-.34 2.215-.51 3.417-.51.838 0 1.666.08 2.482.238.816.159 1.598.363 2.346.612.748.25 1.445.533 2.09.85.647.317 1.242.635 1.786.952l-2.448 4.624zM40.139 25h-5.44V14.97c0-1.156-.227-2.006-.68-2.55-.454-.544-1.077-.816-1.87-.816-.318 0-.663.074-1.037.221a4.173 4.173 0 00-1.088.646 5.827 5.827 0 00-.97 1.003 4.4 4.4 0 00-.68 1.292V25h-5.44V.18h5.44v9.962a6.786 6.786 0 012.602-2.465c1.076-.578 2.26-.867 3.553-.867 1.201 0 2.17.21 2.907.629.736.42 1.303.952 1.7 1.598.396.646.663 1.371.799 2.176.136.805.204 1.592.204 2.363V25zm12.34.34c-1.519 0-2.873-.25-4.063-.748-1.19-.499-2.193-1.173-3.01-2.023a8.54 8.54 0 01-1.852-2.958 9.97 9.97 0 01-.63-3.519c0-1.224.21-2.397.63-3.519a8.54 8.54 0 011.853-2.958c.816-.85 1.819-1.53 3.009-2.04s2.544-.765 4.063-.765c1.519 0 2.867.255 4.046.765 1.179.51 2.176 1.19 2.992 2.04a8.754 8.754 0 011.87 2.958 9.736 9.736 0 01.646 3.519 9.97 9.97 0 01-.63 3.519 8.54 8.54 0 01-1.852 2.958c-.816.85-1.82 1.524-3.01 2.023-1.19.499-2.543.748-4.062.748zM48.5 16.092c0 1.405.374 2.533 1.122 3.383.748.85 1.7 1.275 2.856 1.275a3.59 3.59 0 001.564-.34c.476-.227.89-.544 1.24-.952a4.57 4.57 0 00.834-1.479 5.632 5.632 0 00.306-1.887c0-1.405-.374-2.533-1.122-3.383-.748-.85-1.689-1.275-2.822-1.275a3.702 3.702 0 00-2.84 1.292 4.57 4.57 0 00-.832 1.479 5.632 5.632 0 00-.306 1.887zm27.776-4.284c-1.315.023-2.505.238-3.57.646-1.065.408-1.836 1.02-2.312 1.836V25h-5.44V7.15h4.998v3.604c.612-1.201 1.4-2.142 2.363-2.822.963-.68 1.989-1.031 3.077-1.054h.544c.113 0 .227.011.34.034v4.896zm14.074 12.24a21.71 21.71 0 01-2.567.884c-.963.272-1.932.408-2.907.408-.68 0-1.32-.085-1.92-.255a4.286 4.286 0 01-1.582-.816c-.453-.374-.81-.867-1.07-1.479-.262-.612-.392-1.349-.392-2.21v-9.316h-2.278V7.15h2.278V1.472h5.44V7.15h3.638v4.114h-3.638v7.446c0 .59.147 1.014.442 1.275.295.26.669.391 1.122.391.408 0 .827-.068 1.258-.204.43-.136.805-.283 1.122-.442l1.054 4.318zM92.627.18h5.44v18.462c0 1.36.578 2.04 1.734 2.04.272 0 .572-.04.901-.119.329-.08.63-.198.901-.357l.714 4.08c-.68.317-1.462.567-2.346.748-.884.181-1.711.272-2.482.272-1.564 0-2.765-.408-3.604-1.224-.839-.816-1.258-1.995-1.258-3.536V.18zm11.456 27.506c.454.159.879.272 1.275.34a6.4 6.4 0 001.071.102c.658 0 1.168-.227 1.53-.68.363-.453.692-1.27.986-2.448l-6.8-17.85h5.61l4.148 13.192 3.57-13.192h5.1l-6.8 20.74a7.106 7.106 0 01-2.55 3.587c-1.224.918-2.674 1.377-4.352 1.377a8.17 8.17 0 01-1.377-.119 7.516 7.516 0 01-1.41-.391v-4.658z"/></svg>
</a> -->
           </div>

       <div class="navbaritem">
       <ul class="item">
           <li><a href="/">Home</a></li>
           <li><a href="/about">About</a></li>
       </ul>

       <!-- Desktop Button -->
      <div class="btn">
       <form action="/enter" method="get" target="_blank">
         <button class="login">Login</button>
       </form>
      
       <form  action="/create" method="get" target="_blank">
         <button class="sign">Sign up</button>
       </form>
     </div>
     </div>

          <!-- Mobile Menu -->
          <div class="navbaritem--mobile">
           <a href="javascript:void(0);" class="icon" onclick="myFunction()">
    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
            width="121" height="33" viewBox="0 0 980 980" enable-background="new 0 0 980 980" xml:space="preserve">
         <path fill="#FFFFFF" opacity="1.000000" stroke="none" 
           d="
         M981.000000,239.000000 
           C981.000000,486.264008 981.000000,733.528015 981.000000,981.000000 
           C733.638672,981.000000 486.277283,981.000000 238.646667,980.620972 
           C240.369217,980.117676 242.370270,980.077026 244.351334,979.856567 
           C294.789490,974.245117 339.039825,954.715515 375.186401,918.991089 
           C444.000610,850.980408 512.183655,782.331055 580.614807,713.932922 
           C581.167603,713.380371 581.527100,712.634521 582.273193,711.946167 
           C582.541443,711.692078 582.513306,711.470703 582.485229,711.249390 
           C582.345276,711.274170 582.089172,711.285400 582.084412,711.326111 
           C582.055847,711.569275 582.085327,711.819153 581.762634,711.825562 
           C580.798889,711.800659 580.155334,711.986145 579.538635,712.237671 
           C533.025757,731.209290 486.809204,730.299561 440.989014,709.929199 
           C437.514343,708.384583 435.763763,709.270874 433.403046,711.638184 
           C390.568512,754.591675 347.736206,797.548035 304.737457,840.337036 
           C275.777832,869.155334 240.759628,880.979675 200.689789,873.176758 
           C155.764877,864.428406 125.232422,837.279297 111.940300,793.489197 
           C98.764656,750.082703 108.841667,710.823303 140.803711,678.543152 
           C214.087341,604.530212 287.740753,530.879578 361.681335,457.522675 
           C393.502716,425.952484 431.983948,416.605621 475.239502,428.068390 
           C496.716827,433.759918 514.142151,446.256775 529.640564,461.962646 
           C535.729553,468.133057 542.530334,474.266876 550.167053,478.115204 
           C570.476929,488.349884 594.194336,483.774231 610.001221,467.951874 
           C625.825867,452.111755 629.814758,428.653839 620.483887,407.962769 
           C616.156555,398.367035 608.380493,391.752167 601.199036,384.639648 
           C548.382324,332.329926 484.820984,310.742249 411.330811,320.455078 
           C362.641571,326.890076 320.908875,348.629913 286.117035,383.404236 
           C212.801254,456.683075 139.482056,529.958557 66.234497,603.305603 
           C33.557922,636.026489 12.904157,675.139771 4.628197,720.699585 
           C3.341032,727.785583 2.205604,734.899170 1.000002,742.000000 
           C1.000000,495.069366 1.000000,248.138718 1.000000,1.000000 
           C247.694656,1.000000 494.389374,1.000000 741.375977,1.382308 
           C737.195374,2.260561 732.697144,2.590295 728.254395,3.277968 
           C679.519653,10.821275 637.613281,31.871601 602.708801,66.792252 
           C536.139771,133.392090 469.541931,199.963089 402.963440,266.553406 
           C402.010010,267.507019 401.151611,268.555634 399.326813,270.585632 
           C401.763947,269.804138 402.848358,269.522064 403.883636,269.114960 
           C450.038757,250.965057 495.814697,251.872162 541.113586,272.056183 
           C544.527771,273.577454 546.296326,272.821594 548.716675,270.398621 
           C592.531738,226.535446 636.137085,182.455917 680.439392,139.088852 
           C707.808350,112.297638 741.430969,102.318344 779.104248,108.272125 
           C864.195374,121.719696 904.508606,223.545883 851.728455,291.606201 
           C843.605591,302.080719 833.763245,311.268921 824.356873,320.693390 
           C756.776794,388.403229 689.156799,456.073578 621.440308,523.646912 
           C581.473511,563.529236 522.941345,570.315735 476.611786,539.792053 
           C465.471252,532.452271 456.342102,522.110413 445.958832,513.548279 
           C440.911499,509.386230 435.502716,505.231293 429.571472,502.648987 
           C406.840576,492.752594 380.107117,500.956146 365.954498,521.536438 
           C351.996124,541.834167 353.918640,569.761597 370.861359,587.338440 
           C378.830322,595.605591 386.957275,603.821106 395.753632,611.173462 
           C446.561981,653.640869 505.135315,670.446106 570.573364,661.581909 
           C619.280884,654.984009 661.033508,633.415161 695.831177,598.653870 
           C769.289124,525.272705 842.743530,451.887634 916.072144,378.377228 
           C948.598450,345.770233 969.110840,306.725098 977.331665,261.334015 
           C978.676025,253.911346 979.783203,246.445755 981.000000,239.000000 
         z"/>
         <path fill="#010101" opacity="1.000000" stroke="none" 
           d="
         M1.000002,742.468628 
           C2.205604,734.899170 3.341032,727.785583 4.628197,720.699585 
           C12.904157,675.139771 33.557922,636.026489 66.234497,603.305603 
           C139.482056,529.958557 212.801254,456.683075 286.117035,383.404236 
           C320.908875,348.629913 362.641571,326.890076 411.330811,320.455078 
           C484.820984,310.742249 548.382324,332.329926 601.199036,384.639648 
           C608.380493,391.752167 616.156555,398.367035 620.483887,407.962769 
           C629.814758,428.653839 625.825867,452.111755 610.001221,467.951874 
           C594.194336,483.774231 570.476929,488.349884 550.167053,478.115204 
           C542.530334,474.266876 535.729553,468.133057 529.640564,461.962646 
           C514.142151,446.256775 496.716827,433.759918 475.239502,428.068390 
           C431.983948,416.605621 393.502716,425.952484 361.681335,457.522675 
           C287.740753,530.879578 214.087341,604.530212 140.803711,678.543152 
           C108.841667,710.823303 98.764656,750.082703 111.940300,793.489197 
           C125.232422,837.279297 155.764877,864.428406 200.689789,873.176758 
           C240.759628,880.979675 275.777832,869.155334 304.737457,840.337036 
           C347.736206,797.548035 390.568512,754.591675 433.403046,711.638184 
           C435.763763,709.270874 437.514343,708.384583 440.989014,709.929199 
           C486.809204,730.299561 533.025757,731.209290 579.538635,712.237671 
           C580.155334,711.986145 580.798889,711.800659 581.731934,711.805176 
           C582.033875,712.025940 581.976868,711.978943 581.976868,711.978943 
           C581.527100,712.634521 581.167603,713.380371 580.614807,713.932922 
           C512.183655,782.331055 444.000610,850.980408 375.186401,918.991089 
           C339.039825,954.715515 294.789490,974.245117 244.351334,979.856567 
           C242.370270,980.077026 240.369217,980.117676 238.188721,980.620972 
           C226.979111,981.000000 215.958206,981.000000 204.286011,980.627747 
           C170.901932,977.242188 139.952530,968.249146 111.635216,951.434021 
           C53.792431,917.086182 18.033533,866.880371 4.895551,800.776978 
           C3.394583,793.224915 2.288943,785.594238 1.000000,778.000000 
           C1.000000,766.312439 1.000000,754.624878 1.000002,742.468628 
         z"/>
         <path fill="#010101" opacity="1.000000" stroke="none" 
           d="
         M981.000000,238.531342 
           C979.783203,246.445755 978.676025,253.911346 977.331665,261.334015 
           C969.110840,306.725098 948.598450,345.770233 916.072144,378.377228 
           C842.743530,451.887634 769.289124,525.272705 695.831177,598.653870 
           C661.033508,633.415161 619.280884,654.984009 570.573364,661.581909 
           C505.135315,670.446106 446.561981,653.640869 395.753632,611.173462 
           C386.957275,603.821106 378.830322,595.605591 370.861359,587.338440 
           C353.918640,569.761597 351.996124,541.834167 365.954498,521.536438 
           C380.107117,500.956146 406.840576,492.752594 429.571472,502.648987 
           C435.502716,505.231293 440.911499,509.386230 445.958832,513.548279 
           C456.342102,522.110413 465.471252,532.452271 476.611786,539.792053 
           C522.941345,570.315735 581.473511,563.529236 621.440308,523.646912 
           C689.156799,456.073578 756.776794,388.403229 824.356873,320.693390 
           C833.763245,311.268921 843.605591,302.080719 851.728455,291.606201 
           C904.508606,223.545883 864.195374,121.719696 779.104248,108.272125 
           C741.430969,102.318344 707.808350,112.297638 680.439392,139.088852 
           C636.137085,182.455917 592.531738,226.535446 548.716675,270.398621 
           C546.296326,272.821594 544.527771,273.577454 541.113586,272.056183 
           C495.814697,251.872162 450.038757,250.965057 403.883636,269.114960 
           C402.848358,269.522064 401.763947,269.804138 399.326813,270.585632 
           C401.151611,268.555634 402.010010,267.507019 402.963440,266.553406 
           C469.541931,199.963089 536.139771,133.392090 602.708801,66.792252 
           C637.613281,31.871601 679.519653,10.821275 728.254395,3.277968 
           C732.697144,2.590295 737.195374,2.260561 741.833923,1.382308 
           C753.020874,1.000000 764.041809,1.000000 775.726074,1.375133 
           C801.677185,3.473608 826.060181,9.149800 849.053589,19.797092 
           C918.957886,52.166862 961.766663,106.165146 977.161072,181.721207 
           C978.730103,189.421860 979.733948,197.237640 981.000000,205.000000 
           C981.000000,216.020889 981.000000,227.041794 981.000000,238.531342 
         z"/>
         <path fill="#FEFEFE" opacity="1.000000" stroke="none" 
           d="
         M981.000000,204.531342 
           C979.733948,197.237640 978.730103,189.421860 977.161072,181.721207 
           C961.766663,106.165146 918.957886,52.166862 849.053589,19.797092 
           C826.060181,9.149800 801.677185,3.473608 776.194702,1.375133 
           C844.260193,1.000000 912.520325,1.000000 981.000000,1.000000 
           C981.000000,68.687401 981.000000,136.375046 981.000000,204.531342 
         z"/>
         <path fill="#FEFEFE" opacity="1.000000" stroke="none" 
           d="
         M1.000000,778.468628 
           C2.288943,785.594238 3.394583,793.224915 4.895551,800.776978 
           C18.033533,866.880371 53.792431,917.086182 111.635216,951.434021 
           C139.952530,968.249146 170.901932,977.242188 203.817352,980.627747 
           C136.406311,981.000000 68.812622,981.000000 1.000000,981.000000 
           C1.000000,913.645935 1.000000,846.291626 1.000000,778.468628 
         z"/>
         <path fill="#010101" opacity="1.000000" stroke="none" 
           d="
         M582.064575,712.046387 
           C582.085327,711.819153 582.055847,711.569275 582.084412,711.326111 
           C582.089172,711.285400 582.345276,711.274170 582.485229,711.249390 
           C582.513306,711.470703 582.541443,711.692078 582.273193,711.946167 
           C581.976868,711.978943 582.033875,712.025940 582.064575,712.046387 
         z"/>
         </svg>  
         </a>            
            <!-- <svg xmlns="http://www.w3.org/2000/svg" width="121" height="33"><path d="M20 12v2H0v-2h20zm0-6v2H0V6h20zm0-6v2H0V0h20z" fill="black" fill-rule="evenodd"/></svg>
          </a> -->
          
           <div class="itemslist" id="hamburger"> 
             <ul class="item--mobile">
               <li><a href="/">Home</a></li>
               <li><a href="/about">About</a></li>
             </ul>
             <div class="btn--mobile">
               <form action="/enter" method="get" target="_blank">
                 <button class="login">Login</button>
               </form>
                <form  action="/create" method="get" target="_blank">
                 <button class="sign">Signup</button>
               </form>
               </div>
             </div>
             </div>
                
       </header>
     </div>

  <script>
   function myFunction() {
     var x = document.getElementById("hamburger");
     if (x.style.display === "block") {
       x.style.display = "none";
     } else {
       x.style.display = "block";
     }
   }
   </script>
   